accelerate==0.20.3
huggingface-hub==0.18.0
iopath
matplotlib==3.7.0
omegaconf==2.3.0
onnx==1.15.0
opencv-python==4.7.0.72
opencv-python-headless
open_clip_torch==2.20.0
pillow==10.1.0
psutil==5.9.4
pyyaml==6.0
regex==2022.10.31
scikit-image
sentence-transformers
timm==0.6.13
tokenizers==0.13.2
torch==2.0.1
torchaudio
torchvision
tqdm==4.64.1
transformers==4.30.0
visual-genome
wandb
webdataset==0.2.48
